{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1 class="text-4xl text-wrap">Homepage</h1>
    <h1>Welcome to the homepage!</h1>
    <p>This is the main content area.</p>
    {{ shipcount }}
    
    {% if shipcount > 1 %}

    <img src="{{ asset('images/photo.jpg') }}" alt="test">
        {{ starship.name|upper }}
        {{ starship.class }}
        {{ starship.captain }}
        {{ starship.crew }}

    {% endif %}

{% endblock %}

{% block footer %}
    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>
{% endblock %}